doctype html
html(lang="zh-tw")
head
    //------------------------------使用的字符編碼------------------------------//
    meta(charset='UTF-8')


    //------------------------------優先使用IE最新版本和Chrome------------------------------//
    meta(http-equiv='X-UA-compatible' content='ie=edge,chrome=1')


    //------------------------------符合各裝置最佳預覽------------------------------//
    meta(name='viewport'
        content='width=device-width'
        height='device-height'
        initial-scale='1'
        minimum-scale='1'
        maximum-scale='1'
        user-scalable='no')


    //------------------------------網頁頁面資訊------------------------------//
    title 網頁標題
    meta(name='description' content='網頁描述')
    meta(name='author' content='網頁作者')


    //------------------------------頁面在Facebook、Plurk、LINE資訊------------------------------//
    meta(property='og:title' content='標題')
    meta(property='og:description' content='描述')
    meta(property='og:type' content='類型')
    meta(property='og:url' content='連結網址')
    meta(property='og:image' content='顯示圖片')
    meta(property='og:site_name' content='帳號名稱')


    //------------------------------頁面在Google+、Pinterest、LinkedIn資訊------------------------------//
    meta(itemprop='name' content='顯示內容')
    meta(itemprop='description' content='描述')
    meta(itemprop='image' content='顯示圖片')


    //------------------------------頁面在twitter資訊------------------------------//
    meta(name='twitter:title' content='標題')
    meta(name='twitter:description' content='描述')
    meta(name='twitter:card' content='類型')
    meta(name='twitter:image' content='顯示圖片')
    meta(name='twitter:site' content='帳號名稱')


    //------------------------------在各瀏覽器上網址的顯示------------------------------//
    link(rel='canonical' href='網址')
    link(rel='icon' href='images/favicon.ico')


    //------------------------------讓連結都以新開視窗方式打開------------------------------//
    //- base(target='_blank')


    //------------------------------CSS樣式連結------------------------------//

    link(rel='stylesheet' type="text/css" href='css/bootstrap.css')
    link(rel='stylesheet' type="text/css" href='css/all.css')
    link(rel='stylesheet' type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')

body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark 
    .container-fliud.bg-dark
        .container#app
            h1 BMI、體脂肪率 計算器
            small.text-white 輸入單位 : ( 公分 ) cm
            .row.d-flex.justify-content-center
                .col-12.bg-dark
                    .input-group.input-group-lg
                        input.form-control(id="height" type='number' placeholder='請輸入身高') 
                        input.form-control(id="weight" type='number' placeholder='請輸入體重')
                        input.form-control(id="age" type='number' placeholder='請輸入年齡')
                        select.custom-select(id="sex")
                            option(value='2') 請選擇性別
                            option(value='1') 男
                            option(value='0') 女
                        button.btn.btn-info.btn-border-radius(id="calc") 開始計算
                    table.table.table-bordered.table-dark.text-center
                        thead
                            tr.bg-secondary
                                th(colspan="2") 您的BMI結果
                                th 體脂肪率
                        tbody
                            tr
                                td.bmi_result(id="bmi_result" colspan="2") 21.56
                                td.fat_result(id="fat_result") 23.58
                        tfoot
                            tr.bg-secondary
                                td(width="30%") 分類
                                td(width="70%" colspan="2") BMI 範圍
                            tr.tr1
                                td(width="30%") 偏瘦
                                td(width="70%" colspan="2") < = 18.4
                            tr.tr2
                                td(width="30%") 正常
                                td(width="70%" colspan="2") 18.5 ~ 23.9
                            tr.tr3
                                td(width="30%") 過重
                                td(width="70%" colspan="2") 24.0 ~ 27.9
                            tr.tr4
                                td(width="30%") 肥胖
                                td(width="70%" colspan="2") > = 28.0
                            tr.bg-secondary
                                td(width="30%") 分類
                                td(width="35%") 體脂肪率%(男)
                                td(width="35%") 體脂肪率%(女)
                            tr.tr5
                                td(width="30%") 偏瘦
                                td(width="35%") < = 13
                                td(width="35%") < = 16
                            tr.tr6
                                td(width="30%") 正常
                                td(width="35%") 14 ~ 23
                                td(width="35%") 17 ~ 27
                            tr.tr7
                                td(width="30%") 肥胖
                                td(width="35%") > = 24
                                td(width="35%") > = 28





        //------------------------------JS連結檔------------------------------//
        script(src='js/jquery.js')
        script(src='js/bootstrap.js')
        script(src='js/all.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js')
